/QScreenCapture/release
/QScreenCapture/debug
/QScreenCapture/ffmpeg/doc
/QScreenCapture/ffmpeg/licenses
/android-project/android-project/bin/classes
/android-project/android-project/bin/dexedLibs
/android-project/android-project/bin/res
/android-project/android-project/bin/AndroidManifest.xml
/android-project/android-project/bin/classes.dex
/android-project/android-project/bin/resources.ap_
/android-project/android-project/bin
/android-project/android-project/jni/libavcodec.a
/android-project/android-project/jni/libavcore.a
/android-project/android-project/jni/libavdevice.a
/android-project/android-project/jni/libavfilter.a
/android-project/android-project/jni/libavformat.a
/android-project/android-project/jni/libavutil.a
/android-project/android-project/jni/libswscale.a
/android-project/android-project/jni/SDL
/android-project/android-project/jni/SI_PRJ
/android-project/android-project/libs
/android-project/android-project/obj
/H264Android
